{% extends 'base.html' %}
{% load static %}

{% block title %}{{ info.name }}{% endblock %}

{% block content %}

    <span class="pull-right buttons">
        <button class="btn btn-default restart"
                data-href="{% url 'restart' %}">Restart
        </button>
    </span>

    <h1>
        {{ info.name }}
    </h1>
    <div class="row">
        <div class="col-sm-6">
            <pre>{{ info.doc }}</pre>
            <div class="panel-group" id="methods">
                {% for method, minfo in info.methods.items %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse"
                                   data-parent="#methods"
                                   href="#m_{{ method|urlencode }}">
                                    {{ method }}</a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse"
                             id="m_{{ method|urlencode }}">
                            <div class="panel-body">
                                {% if minfo.doc %}
                                    <pre>{{ minfo.doc }}</pre>
                                {% endif %}
                                <form method="post"
                                      action="{% url 'method' %}?method={{ method|urlencode }}"
                                      class="form-horizontal"
                                      role="form">
                                    {% for arg in minfo.args %}
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label"
                                                   for="m_{{ method|urlencode }}_{{ forloop.counter0 }}">{{ arg }}</label>

                                            <div class="col-sm-10">
                                                <input class="form-control"
                                                       id="m_{{ method|urlencode }}_{{ forloop.counter0 }}"
                                                       name="params"
                                                       type="text"/>
                                            </div>

                                        </div>
                                    {% endfor %}
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button class="btn btn-primary">
                                                Execute
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-6">
            <h3>Results</h3>

            <div id="results">

            </div>
        </div>
    </div>
{% endblock %}

{% block page_scripts %}
    <script src="{% static "execute.js" %}"></script>
{% endblock %}

