<div class="panel panel-default">
    <div class="panel-heading">
        <code><b>{{ method }}({% for v in values %}"{{ v }}"
            {% if not forloop.last %}, {% endif %}{% endfor %})</b></code>
        {% if error %}
            <span class="label label-danger">Error</span>
        {% else %}
            <span class="label label-success">OK</span>
        {% endif %}
    </div>
    <div class="panel-body">
        {% if error %}
            <pre>Error #{{ error.faultCode }}: {{ error.faultString }}</pre>
        {% else %}
            <pre>{{ result }}</pre>
        {% endif %}
    </div>
</div>

