{{ method }}

<form method="post">
    {%  csrf_token  %}
    <ul>
        {% for p in mparams %}
            <li>
                <label>{{ p }}
                    <input name="params" type="text"/>
                </label>
            </li>
        {% endfor %}
    </ul>
    <button>Execute</button>
</form>